@font-face {
  font-family: 'Nitti-Normal';
  src: url('/static/fonts/Nitti-Normal.eot?#iefix') format('embedded-opentype'),  url('/static/Nitti-Normal.otf')  format('opentype'),
  url('/static/fonts/Nitti-Normal.woff') format('woff'), url('/static/fonts/Nitti-Normal.ttf')  format('truetype'), url('/static/fonts/Nitti-Normal.svg#Nitti-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NittiGrotesk-Normal';
  src: url('/static/fonts/NittiGrotesk-Normal.eot?#iefix') format('embedded-opentype'),  url('/static/fonts/NittiGrotesk-Normal.otf')  format('opentype'),
       url('/static/fonts/NittiGrotesk-Normal.woff') format('woff'), url('/static/fonts/NittiGrotesk-Normal.ttf')  format('truetype'), url('/static/fonts/NittiGrotesk-Normal.svg#NittiGrotesk-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#content {
  width: 700px;
  margin: 50px auto;
  font-family: 'Nitti-Normal';
}

a {
  text-decoration: none;
  font-family: 'NittiGrotesk-Normal';
  color: rgb(0, 191, 170);
}

p {
  font-family: 'NittiGrotesk-Normal';
  font-size: 1.1em;
  color: #222;
  letter-spacing: 0.01em;
}

#header {
  padding: 50px 0 30px 0;
}

#header img.mainsite {
  width: 100px;
}

#progress-bar {
  height: 20px;
  width: 700px;
  background: rgb(252, 252, 252);
}

#current-progress {
  width: 2%;
  height: 100%;
  background: rgb(0, 191, 170);
}

#core-info {
  margin: 50px 0;
  display: none;
}

#install-btn {
  margin-top: 50px;
}

#open-dashboard {
  margin-top: 40px;
}

.coredata {
  background: #fcfcfc;
  padding: 20px 10px;
  font-family: 'NittiGrotesk-Normal';
  font-size: 1.1em;
  letter-spacing: 0.01em;
  color: #333;
  margin: 30px 0 30px 0;
}

a.btn-success {
  font-family: NittiGrotesk-Normal;
  margin-top: 30px;
  line-height: 39px;
  min-width: 155px;
  max-width: 200px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background-color: #00BFAA;
  border: 1px solid #00BFAA;
  height: 39px;
  padding: 5px 30px;
  text-align: center;
}
